<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/question.css">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/question.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="navbar">
        <a href="/"><h1 id="title">SR Trivia</h1></a>
        <span id="navbar-actions">
          <a href="/reminders">Reminders</a>
          <a href="/logout">Log Out</a>
        </span>
      </div>
      <div id="page-title"><h2><%= decodeURI(question) %></h2></div>
      <div id="answers">
        <% if(type=="boolean") { %>
          <ul id="tf">
            <li>True</li>
            <li>False</li>
          </ul>
        <% } else { %>
          <ul id="multipart">
            <% for (let i=0; i < answers.length; i++) { %>
              <li><%= decodeURIComponent(answers[i]) %></li>
            <% }; %>
          </ul>
        <% } %>
      </div>
    </div>
    <form action="/reminder/create" method="post">
    <div hidden="true" id="modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2 id="modal-header">Modal Header</h2>
        </div>
        <div class="modal-body">
          <p id="modal-text"></p>
        </div>
        <div class="modal-footer">
            <input hidden="true" name="question" value="<%= question %>">
            <input hidden="true" name="answers" value="<%= answers %>">
            <input hidden="true" name="correct_answer" value="<%= answer %>">
            <input hidden="true" name="state" value="0">
            <input hidden="true" name="next_reminder" value="12/12/2017">
            <input hidden="true" name="user_id" value="<%= user_id %>">
            <input id="submit" type="submit" data-dismiss="modal" value="Create Reminder"/>
          <a href="/question?category=<%= category %>">Next Question</a>
        </div>
      </div>
    </div>
    </form>
    <input type="hidden" id="answer" name="answer" value="<%= answer %>">
  </body>
</html>